@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #4c00ff, #3e01c4, #2e048d, #1d0459,#0c032b);
}

.coin{
    display: flex;
    width: 460px;
    height: 75px;
    border-radius: 20px;
    margin: 38px 0;
    font-family: 'Mukta', sans-serif;
}

.coin .coin-logo{
    width: 80px;
    height: 100%;
    display: grid;
    place-items: center;
}
.coin .coin-logo img{
    width: 70%;
    height: 70%;
}

.coin .coin-name{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.coin .coin-name h3{
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
}

.coin .coin-name span{
    color: #e2e0e0;
    font-size: 20px;
    font-weight: 600;
    margin: 6px 0 0 2px;
}

.coin .coin-price{
    display: grid;
    align-items: center;
    margin-left: auto;
    padding: 8px 22px 0 0;
    text-align: right;
}

.coin .coin-price .price{
    font-size: 23px;
    font-weight: 700;
    margin-top: -3px;
}

.coin .coin-price .change{
    color: #aaa;
    font-size: 16px;
    font-weight: 600;
    margin-top: -33px;
}

.coin.rising{
    background: linear-gradient(90deg, #4c00ff, #3e01c4, #2e048d, #1d0459, #0c032b);
}

.coin.rising .coin-price .price{
    color: #10c003;
}

.coin.falling{
    background: linear-gradient(90deg, #4c00ff, #3e01c4, #2e048d, #1d0459,#0c032b);
}
.coin.falling .coin-price .price{
    color: #e81212;
}
